## 產生資料

In [91]:
from sklearn.datasets import make_classification
import pandas as pd

x_, y_ = make_classification(n_samples=1000, n_features=120,
                             n_informative=20, n_redundant=20,
                             n_classes=2, random_state=0, shuffle=True)

x_ = pd.DataFrame(x_)
y_ = pd.DataFrame(y_)

## 測試的工具

In [ ]:
import pandas as pd

X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [ ]:
#輸出入資料合併
df_merge = X.merge(y, how='inner', left_index=True, right_index=True)
df_merge

In [ ]:
#有放回的抽樣
cyp = [0.1, 0.2, 0.3, 0.1, 0.3]#抽樣機率
df_merge = df_merge.sample(frac=1, replace=1, weights=cyp, axis='index')
df_merge

In [ ]:
#取出y的行名
y_name = df_merge.columns[-1]
y_name

In [ ]:
#利用行名切割輸出入資料
#輸入屬性
x_ = df_merge.drop([y_name], axis=1)#同上方法刪除行

#目標屬性
y_ = df_merge[y_name]

In [ ]:
df_merge[x_.columns]

In [ ]:
df_merge[[1, '0_x']]

In [ ]:
feature = []

In [ ]:
f1 = [26, 61, 86, 42, 11, 37, 84, 94, 97, 47, 95, 21, 78, 46, 35, 65, 1]
f2 = [96, 8, 43, 94, 32, 51, 44, 93, 37, 98, 97, 24, 45, 23, 21, 80, 33, 61, 68, 11, 34, 77, 79, 57, 85, 95, 0]

In [ ]:
feature.append(f2)

In [ ]:
type(feature[3])

In [ ]:
len(feature)

In [ ]:
X1 = 0
X2 = 0
X3 = 100

In [ ]:
X = []

In [ ]:
if(X1!=0): #95%有特
    X = X1

elif(X1==0):#95%沒特，看50%有無

    if(X2!=0): #50%有特
        X = X2
        
    elif(X2==0):
        X = X3

print('厲害 : ', X)

## adaboost特徵選擇測試

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# clf = RandomForestClassifier(random_state=0, criterion='gini')
clf = RandomForestClassifier(random_state=0, criterion='entropy')

clf.fit(x_, y_)

In [ ]:
clf.feature_importances_

## xgb 特徵選擇

In [ ]:
from xgboost import XGBClassifier

In [ ]:
clf = XGBClassifier(random_state=0, criterion='entropy')
clf.fit(x_, y_)

In [ ]:
clf.feature_importances_

## 迴圈測試

In [ ]:
k = []
for i in range(10):
    if(i == 8):break
    k.append(i)
    print(i)

In [ ]:
k

## RF 屬性重要性

In [2]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(x_, y_)

<ipython-input-2-f6162a46e5c0>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(x_, y_)

RandomForestClassifier(max_depth=2, random_state=0)

In [52]:
k = clf.feature_importances_

所有特徵： 120
所有特徵平均： 120
回傳答案： [0.         0.         0.         0.00284188 0.00684433 0.0753315
 0.00582688 0.         0.         0.01555506 0.         0.00614297
 0.00334827 0.00132188 0.         0.         0.00224976 0.00222653
 0.         0.00229206 0.02484989 0.00805333 0.00175066 0.
 0.         0.01230717 0.00392116 0.         0.         0.00071124
 0.00021059 0.00217981 0.00523126 0.         0.         0.
 0.00592648 0.02834784 0.00542694 0.         0.         0.
 0.00187267 0.00030936 0.03542696 0.00452101 0.         0.00213457
 0.00236694 0.048203   0.         0.02650949 0.         0.
 0.         0.         0.00453547 0.12677859 0.         0.0601768
 0.00628956 0.         0.01956589 0.00222317 0.         0.
 0.00749077 0.0024575  0.         0.         0.00274027 0.00487118
 0.         0.00111464 0.04276317 0.02196072 0.0051102  0.
 0.         0.         0.00178187 0.03041899 0.         0.01528072
 0.         0.0020351  0.         0.         0.         0.08966148
 0.01705771 0.00295396 0.00085336 0.03130922 0.         0.
 0.00124114 0.         0.         0.         0.         0.02201479
 0.         0.         0.00402251 0.         0.00527939 0.
 0.00131776 0.06137627 0.         0.00256799 0.00087538 0.
 0.         0.         0.0110312  0.03991988 0.0018121  0.00486974]

## feature_importance

In [53]:
all_fi = []

In [55]:
all_fi.append(k)

In [64]:
k = pd.DataFrame(all_fi)

In [77]:
len(k.columns)

120

In [75]:
k[20].sum()
# k[20]

0.04969977980946615

In [90]:
for i in range(len(k.columns)):
    print(k[i].sum())

0.0
0.0
0.0
0.005683761612020982
0.013688668277846957
0.15066300384430428
0.011653751634126608
0.0
0.0
0.03111012494966392
0.0
0.012285936223187847
0.006696543915476928
0.0026437654966409464
0.0
0.0
0.004499520533778281
0.004453062527852833
0.0
0.004584123888912033
0.04969977980946615
0.016106652970862598
0.0035013193055167
0.0
0.0
0.02461433820373798
0.007842314540731638
0.0
0.0
0.0014224845937277142
0.00042118089040481477
0.004359611393037923
0.010462520248685941
0.0
0.0
0.0
0.011852969408233369
0.05669567411628219
0.010853886019080468
0.0
0.0
0.0
0.0037453400533688287
0.0006187103457103377
0.07085391715262453
0.009042026181431103
0.0
0.004269147908577132
0.004733889861314601
0.09640600410663333
0.0
0.053018985921737066
0.0
0.0
0.0
0.0
0.009070930336280375
0.25355717626494284
0.0
0.12035360206628118
0.012579129775600939
0.0
0.03913177108065821
0.004446339854566195
0.0
0.0
0.014981534453052751
0.004915002973807111
0.0
0.0
0.005480540449897604
0.00974236736201824
0.0
0.002229287518080227
0.08552634045965339
0.043921432172595566
0.010220405342193482
0.0
0.0
0.0
0.003563745856211506
0.06083798925796272
0.0
0.030561446958964313
0.0
0.004070194813595854
0.0
0.0
0.0
0.17932295544683113
0.03411542315499514
0.005907924891764018
0.0017067163694997859
0.06261843842667826
0.0
0.0
0.002482270433378645
0.0
0.0
0.0
0.0
0.0440295749226226
0.0
0.0
0.008045029774869941
0.0
0.010558784450587862
0.0
0.0026355118945339375
0.12275254398654496
0.0
0.005135970714855351
0.0017507646603106258
0.0
0.0
0.0
0.022062392702111414
0.0798397681048867
0.0036242047976278086
0.0097394723365633

## 老師套件anova_kf輸出 p_value

In [96]:
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

fs = feature_selection(method='anova_kf')
fs.fit_transform(x_, y_)
fs.select_list

2021 20:20:45 INFO feature select success!

After select attr:  [18, 8, 2, 10, 1, 5, 14, 6, 17, 13, 19, 11, 12]
Number of features selected:  13

     18 8   2  10  1  5     14 6    17 13  19 11 12
0     ?  1   2  2  30  2  1.00  2  4.0  2   1  2  2
1     ?  1   1  2  50  1  0.90  2  3.5  2   1  2  2
2     ?  2   1  2  78  1  0.70  2  4.0  2   1  2  2
3    80  2   1  2  31  2  0.70  2  4.0  2   1  2  2
4     ?  2   1  2  34  2  1.00  2  4.0  2   1  2  2
..   .. ..  .. ..  .. ..   ... ..  ... ..  .. .. ..
150  50  2   1  2  46  1  7.60  1  3.3  1   2  1  1
151   ?  2   1  2  44  1  0.90  2  4.3  2   2  2  2
152   ?  1   1  2  61  1  0.80  1  4.1  2   2  1  2
153  48  2   2  1  53  1  1.50  2  4.1  1   2  1  2
154  42  2   1  1  43  1  1.20  2  3.1  2   2  1  1

[155 rows x 13 columns]

In [99]:
fs.akf_value_dict

AttributeError: 'feature_selection' object has no attribute 'akf_value_dict'