## 產生資料

In [4]:
from sklearn.datasets import make_classification
import pandas as pd

x_, y_ = make_classification(n_samples=1000, n_features=100,
                             n_informative=20, n_redundant=20,
                             n_classes=2, random_state=0, shuffle=True)

x_ = pd.DataFrame(x_)
y_ = pd.DataFrame(y_)

## 測試的工具

In [29]:
import pandas as pd

X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [30]:
#輸出入資料合併
df_merge = X.merge(y, how='inner', left_index=True, right_index=True)
df_merge

        0_x         1         2  0_y
0  0.083694 -0.557445 -2.552990    0
1 -0.123994  0.963994  0.653619    0
2 -1.664470 -1.192244  0.864436    1
3  1.383662 -0.387471 -0.742165    0
4  0.694480  1.056991  2.269755    1

In [31]:
#有放回的抽樣
cyp = [0.1, 0.2, 0.3, 0.1, 0.3]#抽樣機率
df_merge = df_merge.sample(frac=1, replace=1, weights=cyp, axis='index')
df_merge

       0_x         1         2  0_y
4  0.69448  1.056991  2.269755    1
2 -1.66447 -1.192244  0.864436    1
4  0.69448  1.056991  2.269755    1
4  0.69448  1.056991  2.269755    1
2 -1.66447 -1.192244  0.864436    1

In [32]:
#取出y的行名
y_name = df_merge.columns[-1]
y_name

'0_y'

In [33]:
#利用行名切割輸出入資料
#輸入屬性
x_ = df_merge.drop([y_name], axis=1)#同上方法刪除行

#目標屬性
y_ = df_merge[y_name]

In [34]:
df_merge[x_.columns]

       0_x         1         2
4  0.69448  1.056991  2.269755
2 -1.66447 -1.192244  0.864436
4  0.69448  1.056991  2.269755
4  0.69448  1.056991  2.269755
2 -1.66447 -1.192244  0.864436

In [42]:
df_merge[[1, '0_x']]

          1      0_x
4  1.056991  0.69448
2 -1.192244 -1.66447
4  1.056991  0.69448
4  1.056991  0.69448
2 -1.192244 -1.66447

In [35]:
feature = []

In [36]:
f1 = [26, 61, 86, 42, 11, 37, 84, 94, 97, 47, 95, 21, 78, 46, 35, 65, 1]
f2 = [96, 8, 43, 94, 32, 51, 44, 93, 37, 98, 97, 24, 45, 23, 21, 80, 33, 61, 68, 11, 34, 77, 79, 57, 85, 95, 0]

In [37]:
feature.append(f2)

In [38]:
type(feature[3])

IndexError: list index out of range

In [39]:
len(feature)

1

In [29]:
X1 = 0
X2 = 0
X3 = 100

In [30]:
X = []

In [31]:
if(X1!=0): #95%有特
    X = X1

elif(X1==0):#95%沒特，看50%有無

    if(X2!=0): #50%有特
        X = X2
        
    elif(X2==0):
        X = X3

print('厲害 : ', X)

厲害 :  100

## adaboost特徵選擇測試

In [1]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
# clf = RandomForestClassifier(random_state=0, criterion='gini')
clf = RandomForestClassifier(random_state=0, criterion='entropy')

clf.fit(x_, y_)

<ipython-input-9-27d9ceff6ddf>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(x_, y_)

RandomForestClassifier(criterion='entropy', random_state=0)

In [10]:
clf.feature_importances_

array([0.00566094, 0.01504829, 0.01097757, 0.0049555 , 0.02806714,
       0.0130398 , 0.00411282, 0.00518289, 0.00475747, 0.00527001,
       0.01388256, 0.01394542, 0.00502557, 0.00642391, 0.00913408,
       0.0051987 , 0.00454038, 0.00559797, 0.0062674 , 0.00544121,
       0.00544511, 0.01319555, 0.00464998, 0.00694782, 0.00571848,
       0.02321284, 0.00806572, 0.00526446, 0.00594814, 0.00955171,
       0.00893366, 0.00537066, 0.02461232, 0.01405891, 0.00535717,
       0.0132566 , 0.00677499, 0.02235459, 0.00507149, 0.01978455,
       0.00926688, 0.0058686 , 0.01000069, 0.00555205, 0.0059687 ,
       0.00516057, 0.00812191, 0.00548432, 0.00629155, 0.00858326,
       0.00575359, 0.01284111, 0.00594741, 0.0063004 , 0.01021341,
       0.01002143, 0.00636706, 0.00547819, 0.00434058, 0.00508998,
       0.00418498, 0.0052206 , 0.00556528, 0.01282028, 0.01369857,
       0.00393592, 0.00401063, 0.00492369, 0.01940239, 0.00704257,
       0.01424303, 0.00588881, 0.01265786, 0.00584707, 0.01966234,
       0.00494308, 0.01514651, 0.00509767, 0.01019865, 0.01335744,
       0.00638434, 0.05746954, 0.05031048, 0.00429443, 0.00650934,
       0.02085137, 0.02535771, 0.00521993, 0.00540591, 0.00544531,
       0.01637618, 0.00424006, 0.00705739, 0.00661836, 0.01285774,
       0.00482899, 0.00555232, 0.02728588, 0.00563038, 0.00570083])

## xgb 特徵選擇

In [11]:
from xgboost import XGBClassifier

In [12]:
clf = XGBClassifier(random_state=0, criterion='entropy')
clf.fit(x_, y_)

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[10:08:41] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:541:
Parameters: { criterion } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[10:08:41] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, criterion='entropy',
              gamma=0, gpu_id=-1, importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=16,
              num_parallel_tree=1, random_state=0, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1, subsample=1, tree_method='exact',
              validate_parameters=1, verbosity=None)

In [13]:
clf.feature_importances_

array([0.00241589, 0.01568984, 0.00578538, 0.00357508, 0.01087282,
       0.0113863 , 0.00667027, 0.00674639, 0.00662432, 0.01705843,
       0.00706784, 0.00839563, 0.00298085, 0.00149818, 0.01563821,
       0.00240132, 0.00273951, 0.01132768, 0.00129934, 0.01093553,
       0.00106502, 0.01022906, 0.00242851, 0.00985532, 0.00111929,
       0.01840705, 0.00383493, 0.00359685, 0.0016234 , 0.00854916,
       0.01276134, 0.00262551, 0.02215301, 0.01415834, 0.00261957,
       0.01583632, 0.0022257 , 0.01152599, 0.00577806, 0.02480944,
       0.02046078, 0.00122404, 0.0028696 , 0.03924813, 0.00372144,
       0.00426179, 0.00491603, 0.00822886, 0.00419365, 0.01291158,
       0.00437236, 0.02629125, 0.00188245, 0.00128983, 0.01410606,
       0.02172055, 0.00464176, 0.00374058, 0.00076315, 0.00793602,
       0.        , 0.00313463, 0.00151599, 0.02229251, 0.01845886,
       0.00282813, 0.0104145 , 0.00611809, 0.01501365, 0.00556292,
       0.00785653, 0.00163254, 0.01651107, 0.00649245, 0.01237875,
       0.00355897, 0.02336927, 0.0042786 , 0.01094869, 0.01501392,
       0.03768234, 0.03847382, 0.04977537, 0.00484303, 0.0014142 ,
       0.04591935, 0.02959743, 0.01352199, 0.00115365, 0.00068223,
       0.00921125, 0.0042517 , 0.00117231, 0.00631379, 0.01161184,
       0.00453907, 0.00781544, 0.0255029 , 0.00267703, 0.00137081],
      dtype=float32)

## 迴圈測試

In [16]:
k = []
for i in range(10):
    if(i == 8):break
    k.append(i)
    print(i)

0
1
2
3
4
5
6
7

In [17]:
k

[0, 1, 2, 3, 4, 5, 6, 7]