## churn.all

import pandas as pd

#放在不同資料夾用絕對路徑
data = pd.read_csv('./data/churn.all.csv')

#刪除不要的欄位
data.drop(['id'], inplace=True, axis=1)
data.drop(['phone_number'], inplace=True, axis=1)

#將目標屬性轉為數字
import numpy as np
data['Churn'] = np.where(data['Churn'] == ' False', 0, 1)

#分割輸入屬性及目標屬性

#輸入屬性
x_ = data.drop(['Churn'], axis=1)#同上方法刪除行

#目標屬性
y_ = data['Churn']

#去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
        ('define_column_type', define_column_type()),
        ('scaler', scaler()),
        ('dummies', dummies()),
        #('filter', feature_selection(method = 'anova_kf', p_threshold = 1)),
        #('sfs',feature_selection(method = 'sfs', sfs_direction = direction, sfs_scoring = scoring, sfs_cv = cv, sfs_estimator = estimator))
       ])

x_ = pipe.fit_transform(x_, y_)
print(x_.shape)

## bank

import pandas as pd

#放在不同資料夾用絕對路徑
data = pd.read_csv('./data/bank.csv')

#刪除ID
#data.drop(['id'], inplace=True, axis=1)

#將目標屬性轉為數字
import numpy as np
data['y'] = np.where(data['y'] == 'no', 0, 1)

#分割輸入屬性及目標屬性

#輸入屬性
x_ = data.drop(['y'], axis=1)#同上方法刪除行
#x_ = data.drop(['phone_number'], axis=1)#同上方法刪除行

#目標屬性
y_ = data['y']

#去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
        ('Wrong_Value',wrong_value_fillna(wrong_value=['unknown'])),
        ('Null_Value', xgb_fill()),
        ('define_column_type', define_column_type()),
        ('scaler', scaler()),
        ('dummies', dummies()),
       ])

x_ = pipe.fit_transform(x_, y_)
print(x_.shape)

## WPBC

import pandas as pd

#放在不同資料夾用絕對路徑
wpbc = pd.read_csv('./data/wpbc.csv', header=None)

#刪除ID
wpbc.drop([0], inplace=True, axis=1)

#將目標屬性轉為數字
import numpy as np
wpbc[1] = np.where(wpbc[1] == 'N', 0, 1)

#分割輸入屬性及目標屬性

#輸入屬性
x_ = wpbc.drop([1], axis=1)#同上方法刪除行

#目標屬性
y_ = wpbc[1]

#去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
         ('Wrong_Value',wrong_value_fillna(wrong_value=['?'])),
         ('column_type', define_column_type()),
         #('Outlier', fix_outlier(how='quartile')), 
         
         ('Null_Value', xgb_fill()),
         #('num_log', num_log()),
         
         ('Wrong_Value2',wrong_value_fillna(wrong_value=[np.nan, float('-inf')])),
         ('Null_Value2', xgb_fill()),
  
       ])

x_ = pipe.fit_transform(x_, y_)
print(x_.shape)

## 用產生資料測試

from sklearn.datasets import make_classification
import pandas as pd

x_, y_ = make_classification(n_samples=5000, n_features=100,
                             n_informative=60, n_redundant=20,
                             n_classes=2, random_state=0, shuffle=True)

x_ = pd.DataFrame(x_)
y_ = pd.DataFrame(y_)

## 1.Annealing

In [83]:
import pandas as pd

#放在不同資料夾用絕對路徑
data = pd.read_csv('./data/1.Annealing.csv', header=None)

#將目標屬性轉為數字
import numpy as np
# data['Churn'] = np.where(data[38] == 'U', 0)
data = data.replace('U', 0)


#分割輸入屬性及目標屬性

#輸入屬性
x_ = data.drop([38], axis=1)#同上方法刪除行

#目標屬性
y_ = data[38]

# #去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
        ('Wrong_Value',wrong_value_fillna(wrong_value=['?'])),
        ('filter', feature_selection(method = 'var')),
        ('Null_Value', xgb_fill()),
        ('define_column_type', define_column_type()),
#         ('dummies', dummies()),
#         ('scaler', scaler()),
       ])

x_ = pipe.fit_transform(x_, y_)

2021 15:02:24 INFO Wrong Values has Filled as np.nan!!!
2021 15:02:24 INFO feature select success!
0it [00:00, ?it/s]
 33%|███▎      | 1/3 [00:00<00:00,  9.91it/s]

After select attr:  [34, 33, 32]
Number of features selected:  3

100%|██████████| 3/3 [00:00<00:00, 11.26it/s]
2021 15:02:24 INFO xgb_fill Fit Success!!!
0it [00:00, ?it/s]
100%|██████████| 3/3 [00:00<00:00, 1736.05it/s]
2021 15:02:24 INFO xgb_fill for NA Success!!!
2021 15:02:24 INFO Fit Columns Type Already Success!!!
2021 15:02:24 INFO Transform Columns Type Success!!!

In [85]:
y_

0      3
1      3
2      3
3      3
4      3
      ..
893    2
894    2
895    2
896    0
897    0
Name: 38, Length: 898, dtype: object

## 2.Statlog (Australian Credit Approval)

In [62]:
import pandas as pd

#放在不同資料夾用絕對路徑
data = pd.read_csv('./data/2.Statlog (Australian Credit Approval).csv', header=None)

#輸入屬性
x_ = data.drop([14], axis=1)#同上方法刪除行

#目標屬性
y_ = data[14]

#去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
        ('define_column_type', define_column_type()),
        ('scaler', scaler()),
       ])

x_ = pipe.fit_transform(x_, y_)
print(x_.shape)

2021 10:13:16 INFO Fit Columns Type Already Success!!!
2021 10:13:16 INFO Transform Columns Type Success!!!
2021 10:13:16 INFO scaler Success!!!

(690, 14)

## 6.default of credit card clients

In [71]:
import pandas as pd

#放在不同資料夾用絕對路徑
data = pd.read_csv('./data/6.default of credit card clients.csv')

#輸入屬性
x_ = data.drop(['default payment next month'], axis=1)#同上方法刪除行

#目標屬性
y_ = data['default payment next month']

#去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
        ('define_column_type', define_column_type()),
        ('scaler', scaler()),
        ('dummies', dummies()),
        #('filter', feature_selection(method = 'anova_kf', p_threshold = 1)),
        #('sfs',feature_selection(method = 'sfs', sfs_direction = direction, sfs_scoring = scoring, sfs_cv = cv, sfs_estimator = estimator))
       ])

x_ = pipe.fit_transform(x_, y_)
print(x_.shape)

2021 10:27:24 INFO Fit Columns Type Already Success!!!
2021 10:27:24 INFO Transform Columns Type Success!!!
2021 10:27:24 INFO scaler Success!!!
2021 10:27:24 INFO dummies Success!!!

(30000, 57)

In [73]:
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,0,0,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,0,0,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,0,0,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,0,-1,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,0,0,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [75]:
y_

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default payment next month, Length: 30000, dtype: int64

In [ ]:
import pandas as pd

#放在不同資料夾用絕對路徑
data = pd.read_csv('./data/1.Annealing.csv')

#刪除不要的欄位
data.drop(['id'], inplace=True, axis=1)
data.drop(['phone_number'], inplace=True, axis=1)

#將目標屬性轉為數字
import numpy as np
data['Churn'] = np.where(data['Churn'] == ' False', 0, 1)

#分割輸入屬性及目標屬性

#輸入屬性
x_ = data.drop(['Churn'], axis=1)#同上方法刪除行

#目標屬性
y_ = data['Churn']

#去除錯誤值及空值填補
from sklearn.pipeline import Pipeline
from data_preprocessing_pipeline import *
from feature_engineering import *

pipe = Pipeline(
       [
        ('define_column_type', define_column_type()),
        ('scaler', scaler()),
        ('dummies', dummies()),
        #('filter', feature_selection(method = 'anova_kf', p_threshold = 1)),
        #('sfs',feature_selection(method = 'sfs', sfs_direction = direction, sfs_scoring = scoring, sfs_cv = cv, sfs_estimator = estimator))
       ])

x_ = pipe.fit_transform(x_, y_)
print(x_.shape)

In [86]:
from sklearn.ensemble import AdaBoostClassifierZe
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
import numpy as np

clf = GaussianNB()

clf.fit(x_, y_)
clf.predict(x_[:20])

TypeError: '<' not supported between instances of 'int' and 'str'