## 產生資料

In [28]:
#from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=5, n_features=3,
                            n_informative=2, n_redundant=0,
                           random_state=0, shuffle=False)

## 測試的工具

In [29]:
import pandas as pd

X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [30]:
#輸出入資料合併
df_merge = X.merge(y, how='inner', left_index=True, right_index=True)
df_merge

        0_x         1         2  0_y
0  0.083694 -0.557445 -2.552990    0
1 -0.123994  0.963994  0.653619    0
2 -1.664470 -1.192244  0.864436    1
3  1.383662 -0.387471 -0.742165    0
4  0.694480  1.056991  2.269755    1

In [31]:
#有放回的抽樣
cyp = [0.1, 0.2, 0.3, 0.1, 0.3]#抽樣機率
df_merge = df_merge.sample(frac=1, replace=1, weights=cyp, axis='index')
df_merge

       0_x         1         2  0_y
4  0.69448  1.056991  2.269755    1
2 -1.66447 -1.192244  0.864436    1
4  0.69448  1.056991  2.269755    1
4  0.69448  1.056991  2.269755    1
2 -1.66447 -1.192244  0.864436    1

In [32]:
#取出y的行名
y_name = df_merge.columns[-1]
y_name

'0_y'

In [33]:
#利用行名切割輸出入資料
#輸入屬性
x_ = df_merge.drop([y_name], axis=1)#同上方法刪除行

#目標屬性
y_ = df_merge[y_name]

In [34]:
df_merge[x_.columns]

       0_x         1         2
4  0.69448  1.056991  2.269755
2 -1.66447 -1.192244  0.864436
4  0.69448  1.056991  2.269755
4  0.69448  1.056991  2.269755
2 -1.66447 -1.192244  0.864436

In [42]:
df_merge[[1, '0_x']]

          1      0_x
4  1.056991  0.69448
2 -1.192244 -1.66447
4  1.056991  0.69448
4  1.056991  0.69448
2 -1.192244 -1.66447

In [35]:
feature = []

In [36]:
f1 = [26, 61, 86, 42, 11, 37, 84, 94, 97, 47, 95, 21, 78, 46, 35, 65, 1]
f2 = [96, 8, 43, 94, 32, 51, 44, 93, 37, 98, 97, 24, 45, 23, 21, 80, 33, 61, 68, 11, 34, 77, 79, 57, 85, 95, 0]

In [37]:
feature.append(f2)

In [38]:
type(feature[3])

IndexError: list index out of range

In [39]:
len(feature)

1